<div class="login">
    <div class="login__background">
        <img class="login__background-img login__background--left" src="/assets/svg/app.svg" alt="app">
        <img class="login__background-img login__background--right" src="/assets/svg/slider.svg" alt="slider ">
    </div>
    <div class="login__content">
        <header class="login__logo">
            <img src="/assets/images/logo/Trello/trello-logo-gradient-blue-attribution_rgb.svg" alt="trello logo">
        </header>
        <span class="login__subtitle">Inicia sesión para continuar</span>
        <form [formGroup]="myform" action="#" class="form">
            <input formControlName="email" class="form__field" type="text" placeholder="Introduce tu correo electrónico">
            <p class="form__error" *ngIf="isInvalidField('email')" > 
                {{ showErrorMessage('email')}}  
            </p>
            <input formControlName="password" class="form__field" type="password" placeholder="Introduce tu contraseña">
            <p class="form__error" *ngIf="isInvalidField('password')" > 
                {{ showErrorMessage('password') }}  
            </p>
            <p class="form__error" *ngIf="formStatus === 'failed'" > 
                Ingrese datos validos 
            </p>
            <app-btn [typeButton]="'submit'" [loader]="formStatus === 'loading'? true : false"  (click)="submit()"> 
                Log in 
            </app-btn>
        </form>
        <span class="login__subtitle login__subtitle-color">O continúa con: </span>
        <div class="social">
            <button class="social__button" type="button">
                <span class="social__logo">
                    <img class="social__logo" src="/assets/images/logo/google/google-logo.svg" alt="google logo">
                </span>
                <span>Google</span>
            </button>
            <button class="social__button" type="button">
                <span>
                    <img class="social__logo" src="/assets/images/logo/microsoft/microsoft-logo.svg" alt="microsoft logo">
                </span>
                <span>Microsoft</span>
            </button>
            <button class="social__button" type="button">
                <span>
                    <img class="social__logo" src="/assets/images/logo/apple/apple-logo.svg" alt="apple logo">
                </span>
                <span>Apple</span>
            </button>
            <button class="social__button" type="button">
                <span>
                    <img class="social__logo" src="/assets/images/logo/slack/slack-logo.svg" alt="slack logo">
                </span>
                <span>Slack</span>
            </button>

        </div>
        <div class="login__options">
            <a class="login__option" href="/auth/recovery" >¿No puedes iniciar sesión?</a>
            <a class="login__option" href="/auth/register" >Crear una cuenta </a>
            
        </div>
        <hr class="login__hr">
        <div class="login__terms">
        </div>
    </div>
</div>
