
<!-- TODO: DESARROLLAR EL NAVBAR -->
<nav class="nav">
    <div class="nav__items">
        <button class="nav__item nav__item-background">
            <img class="nav__logo" src="/assets/images/logo/Trello/SVG/trello-logo-gradient-neutral-attribution_rgb.svg" alt="logo trello" loading="lazy">
        </button>
        <button class="nav__item" name="workspaces">
            <span class="nav__text">Workspaces</span>
            <img  class="nav__icon" src="/assets/icons/keyboard-arrow-down.svg" alt="down arrow icon" loading="lazy">
        </button>
        <button class="nav__item">
            <span class="nav__text">Recent</span>
            <img  class="nav__icon" src="/assets/icons/keyboard-arrow-down.svg" alt="down arrow icon" loading="lazy">
        </button>
        <button class="nav__item">
            <span class="nav__text">Starred</span>
            <img  class="nav__icon" src="/assets/icons/keyboard-arrow-down.svg" alt="down arrow icon" loading="lazy">
        </button>
        <button class="nav__item">
            <span class="nav__text">Templates</span>
            <img  class="nav__icon" src="/assets/icons/keyboard-arrow-down.svg" alt="down arrow icon" loading="lazy">
        </button>
        <button class="nav__item nav__more-button">
            <span class="nav__text">More</span>
            <img  class="nav__icon" src="/assets/icons/keyboard-arrow-down.svg" alt="down arrow icon" loading="lazy">
        </button>
        <button class="nav__item nav__item-color nav__item-display">
            Create
        </button>
        <button class="nav__item nav__item-color nav__create-button-mobile">
            +
        </button>
        
    </div>
    <div class="nav__account">
        <button class="search-button-mobile-tablet">
            <img src="/assets/icons/search-icon.svg" alt=" search icon">
        </button>    
        <div class="search">
            <label class="search__label" for="search">    
                <img src="/assets/icons/search-icon.svg" alt=" search icon">
            </label>
            <input class="search__input" id="search" type="text" placeholder="search">
        </div>
        <button class="nav__notification">
            <img src="/assets/icons/notifications-icon.svg" alt="notification icon">
        </button>
        <button class="nav__help">
            <img src="/assets/icons/help-icon.svg" alt="help icon">
        </button>
        <button class="nav__profile">
            <span class="nav__content">CC</span>
        </button>
         
    </div>

</nav>