<nav class="nav">
    <div class="nav__items">
        <button class="nav__item nav__item-background" >
            <img class="nav__logo" src="/assets/images/logo/Trello/SVG/trello-logo-gradient-neutral-attribution_rgb.svg" alt="logo trello">
        </button>
        <button class="nav__item" name="workspacesButton" 
        (click)="toggleWorkspaces()"
        cdkOverlayOrigin #workspaces="cdkOverlayOrigin"
        [class.active]="isOpenOverlayWorkspaces"
        >
            <span class="nav__text">Workspaces</span>
            <img  class="nav__icon" src="/assets/icons/keyboard-arrow-down.svg" alt="down arrow icon">
        </button>
        <button class="nav__item" 
        cdkOverlayOrigin 
        #recents="cdkOverlayOrigin"
        (click)="toggleRecents()"
        [ngClass]="{'active':isOpenOverlayRecents}"
        >
            <span class="nav__text">Recent</span>
            <img  class="nav__icon" src="/assets/icons/keyboard-arrow-down.svg" alt="down arrow icon" >
        </button>
        <button class="nav__item"
        (click)="toggleStarred()"
        cdkOverlayOrigin
        #starred="cdkOverlayOrigin"
        [ngClass]="{'active':isOpenOverlayStarred}"
        >
            <span class="nav__text">Starred</span>
            <img  class="nav__icon" src="/assets/icons/keyboard-arrow-down.svg" alt="down arrow icon">
        </button>
        <button class="nav__item"
        (click)="toggleTemplate()"
        cdkOverlayOrigin
        #template="cdkOverlayOrigin"
        [ngClass]="{'active':isOpenOverlayTemplate}"
        >
            <span class="nav__text">Templates</span>
            <img  class="nav__icon" src="/assets/icons/keyboard-arrow-down.svg" alt="down arrow icon" >
        </button>
        <button class="nav__item nav__more-button">
            <span class="nav__text">More</span>
            <img  class="nav__icon" src="/assets/icons/keyboard-arrow-down.svg" alt="down arrow icon">
        </button>
        <button class="nav__item nav__item-color nav__item-display">
            Create
        </button>
        <button class="nav__item nav__item-color nav__create-button-mobile">
            +
        </button>
        
    </div>
    <div class="nav__account">
        <button class="search-button-mobile-tablet">
            <img src="/assets/icons/search-icon.svg" alt=" search icon">
        </button>    
        <div class="search">
            <label class="search__label" for="search">    
                <img src="/assets/icons/search-icon.svg" alt=" search icon">
            </label>
            <input class="search__input" id="search" type="text" placeholder="search">
        </div>
        <button class="nav__notification">
            <img src="/assets/icons/notifications-icon.svg" alt="notification icon">
        </button>
        <button class="nav__help">
            <img src="/assets/icons/help-icon.svg" alt="help icon">
        </button>
        <button class="nav__profile" (click)="toggleProfile()" cdkOverlayOrigin #profile="cdkOverlayOrigin">
            <span class="nav__content">CC</span>
        </button>
         
    </div>

</nav>

<ng-template 
#profile
cdkConnectedOverlay
[cdkConnectedOverlayOrigin]="profile"
[cdkConnectedOverlayOpen]="isOpenOverlayProfile"
[cdkConnectedOverlayOffsetY]="8"
cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
cdkConnectedOverlayHasBackdrop="true"
(backdropClick)="toggleProfile()"

> 
<div class="overlay">
    <div class="overlay__account">
        <h4 class="overlay__subtitle">ACCOUNT</h4>
        <div class="account-details">
            <p class="account-details__logo">
                CC
            </p>
            <div >
                <p>cesar choccta</p>
                <p>choccata271@gmail.com</p>
            </div>
        </div>
        <button class="overlay__button">
            Switch account
        </button>
        <button class="overlay__button overlay__button-icon">
            <span>Manage account</span> <fa-icon [icon]="faArrowUpRight" title="open in new"></fa-icon>   
            
        </button>
    </div>
     
    <div class="overlay__trello">
        <h4 class="overlay__subtitle">Trello</h4>
        <button class="overlay__button overlay__profile-visibility">
            Profile and visibility
        </button>
        <button class="overlay__button overlay__activity">
            Activity
        </button>
        <button class="overlay__button">
            Cards
        </button>
        <button class="overlay__button">
            Settings
        </button>
        <button class="overlay__button overlay__button-icon">
            <span>Theme</span> <fa-icon [icon]="faChevronRight" title="open options"></fa-icon>
        </button>
    </div>
   
    <div class="overlay__workspace">
        <button class="overlay__button">
            <fa-icon [icon]="faUserGroup" title="create workspace"></fa-icon> Create Workspace
        </button>
    </div>
    <div class="overlay__helps">
        <button class="overlay__button">
            Help
        </button>
        <button class="overlay__button">
            Shortcuts
        </button>
    </div>
    <div class="overlay__logout">
        <button class="overlay__button">
            Log out
        </button>
    </div>

</div>
</ng-template>

<ng-template 
#workspaces
cdkConnectedOverlay
[cdkConnectedOverlayOrigin]="workspaces"
[cdkConnectedOverlayOpen]="isOpenOverlayWorkspaces"
[cdkConnectedOverlayOffsetY]="8"
cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
cdkConnectedOverlayHasBackdrop="true"
(backdropClick)="toggleWorkspaces()"
 
> 
<app-overlay-workspaces></app-overlay-workspaces>
</ng-template>

<ng-template
#recents
cdkConnectedOverlay
[cdkConnectedOverlayOrigin]="recents"
[cdkConnectedOverlayOpen]="isOpenOverlayRecents"
[cdkConnectedOverlayOffsetY]="8"
cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
cdkConnectedOverlayHasBackdrop="true"
(backdropClick)="toggleRecents()"

>
<app-recents-starred [boards]="arrRecents" ></app-recents-starred>
</ng-template>

<ng-template
#starred
cdkConnectedOverlay
[cdkConnectedOverlayOrigin]="starred"
[cdkConnectedOverlayOpen]="isOpenOverlayStarred"
[cdkConnectedOverlayOffsetY]="8"
cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
cdkConnectedOverlayHasBackdrop="true"
(backdropClick)="toggleStarred()"
>
<app-recents-starred [boards]="arrStarred" ></app-recents-starred>
</ng-template>

<ng-template
#template
cdkConnectedOverlay
[cdkConnectedOverlayOrigin]="template"
[cdkConnectedOverlayOpen]="isOpenOverlayTemplate"
[cdkConnectedOverlayOffsetY]="8"
cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
cdkConnectedOverlayHasBackdrop="true"
(backdropClick)="toggleTemplate()"
>
<app-overlay-template [templates]="arrTemplates" ></app-overlay-template>
</ng-template>