<div class="navigation">
    <button   class="navigation__boards-button" routerLink="/admin/boards" routerLinkActive="activated" >
        <fa-icon [icon]="faTrello" title="click to go to home"></fa-icon>
        <span class="navigation__text">Boards</span>
    </button>
    <button   class="navigation__boards-button" routerLink="/admin/templates" routerLinkActive="activated">
        <fa-icon [icon]="faTrello" title="click to go to home"></fa-icon>
        <span class="navigation__text">Templates</span>
    </button>
    <button   class="navigation__boards-button" routerLink="/admin/home" routerLinkActive="activated">
        <fa-icon [icon]="faWave" title="click to go to home"></fa-icon>
        <span class="navigation__text">Home</span>
    </button>
    <hr class="navigation__line">
    <h4>Workspaces</h4>
    <div class="accordion-workspaces">
        <cdk-accordion class="">
            <cdk-accordion-item
            #accordionItem="cdkAccordionItem"
            >
                <div class="accordion-workspaces__header" (click)="accordionItem.toggle()" >
                    <div class="accordion-workspaces__header-logo">E</div>
                    <span class="accordion-workspaces__header-text">Cesar choccata's workspaces</span>
                    <div class="accordion-wokspaces__header-icon"  >
                        <fa-icon [icon]=" accordionItem.expanded ? faAngleUp:faAngleDown" [title]=" accordionItem.expanded? 'close' : 'open'" class="fa-xl"></fa-icon>
                    </div>
        
                </div>
                <div class="accordion-workspaces__body"
                [style.display]="accordionItem.expanded ? '' : 'none'"
                >
                    <button   class="accordion-workspaces__button-option">
                        <fa-icon class="accordion-workspaces__button-icon" [icon]="faSquare"></fa-icon>
                        <span class="accordion-workspaces__button-text">Boards</span>
                    </button>
                    <button      class="accordion-workspaces__button-option">
                        <fa-icon class="accordion-workspaces__button-icon" [icon]="faHeart"></fa-icon>
                        <span    class="accordion-workspaces__button-text">Hightlights</span>
                    </button>
                    <button   class="accordion-workspaces__button-option accordion-workspaces__button-option--justify">
                        <div class="accordion-workspaces__button-content">
                            <fa-icon class="accordion-workspaces__button-icon" [icon]="faTable"></fa-icon>
                            <span class="accordion-workspaces__button-text">Views</span>
                        </div>
                        <fa-icon class="accordion-workspaces__button-icon accordion-workspaces__button-icon--transform" [icon]="faAngleRight"></fa-icon>
                    </button>
                    <button   class="accordion-workspaces__button-option accordion-workspaces__button-option--justify">
                        <div class="accordion-workspaces__button-content">
                            <fa-icon class="accordion-workspaces__button-icon" [icon]="faGroup"></fa-icon>
                            <span class="accordion-workspaces__button-text">Members</span>
                        </div>
                        <fa-icon class="accordion-workspaces__button-icon accordion-workspaces__button-icon--transform" [icon]="faAngleRight"></fa-icon>
                    </button>
                    <button   class="accordion-workspaces__button-option accordion-workspaces__button-option--justify">
                        <div class="accordion-workspaces__button-content">
                            <fa-icon class="accordion-workspaces__button-icon" [icon]="faGear"></fa-icon>
                            <span class="accordion-workspaces__button-text">Settings</span>
                        </div>
                        <fa-icon class="accordion-workspaces__button-icon accordion-workspaces__button-icon--transform" [icon]="faAngleRight"></fa-icon>
                    </button>
        
                </div>
            </cdk-accordion-item>
        </cdk-accordion>
    </div>
</div>