/* You can add global styles to this file, and also import other style files */
@import '@angular/cdk/overlay-prebuilt.css';

:root{
    --primary-color:#0C66E4;
    --dark-blue-color:#0055CC;
    --dark-neutral-color:#DCDFE4;
    --gray-color:#5e6c84;
    --border-radius:.2rem;

    --button-text-color:#44546F;
    --button-background-hovered:#091e4218;

    --button-pressed:#091e4235;

    --button-background-selected:#e9f2ff;
    --button-text-seleted:#0c66e4;

    --profile-background-color:#ff991f;
}
*{
    box-sizing: border-box;  
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
html{
    font-size: 62.5%;
    
}
body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
a{
    font-size: 1.4rem;
}
.container{
    max-width: 120rem;
    margin: 0 auto;
}
h1, h2, h3, h4{
    margin: .8rem 0;
    font-weight: 700;
}
h1{
    font-size: 2.2rem;
}
h2{
    font-size: 1.8rem;
}
h3{
    font-size: 1.4rem;
}
h4{
    font-size: 1.3rem;
}
p{
    font-size: 1.2rem;
}
@media screen and (width>= 728px) {
    h1{
        font-size: 2.4rem;
    }
    h2{
        font-size: 2rem;
    }
    h3{
        font-size: 1.6rem;
    }
    h4{
        font-size: 1.4rem;
    }
    p{
        font-size: 1.3rem;
    }
}