/* You can add global styles to this file, and also import other style files */
@import '@angular/cdk/overlay-prebuilt.css';

:root{
    --primary-color:#0C66E4;
    --dark-blue-color:#0055CC;
    --dark-neutral-color:#DCDFE4;
    --light-neutral-color:#091e420f;
    --gray-color:#5e6c84;
    --border-radius:.2rem;

    --button-text-color:#44546F;
    --button-background-hovered:#091e4218;

    --button-pressed:#091e4235;

    --button-background-selected:#e9f2ff;
    --button-text-seleted:#0c66e4;

    --profile-background-color:#ff991f;

    --h4-color:#626F86;
    --color-heading:#172b4d;
    --color-subtitle:#44546f;
    --ds-text:#172B4D;
    --navbar-height:4.8rem;

    --color-star-icon:#e2b203;

    --background-color-lists:#f1f2f4;
    --background-icon-hovered:#091e4224;
    
     
}
*{
    box-sizing: border-box;  
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
html{
    font-size: 62.5%;
    
}
body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
a{
    font-size: 1.4rem;
}
.container{
    max-width: 120rem;
    margin: 0 auto;
}
h4{
    margin: .8rem 0;
    font-weight: 600;
    color: var(--h4-color);
}
h1{
    font-size: 2.2rem;
}
h2{
    font-size: 1.8rem;
    margin: 2rem 0;
    color: var(--color-subtitle);
}
h3{
    font-size: 1.6rem;
    color: var(--color-heading);
    font-weight: 900;
}
h4{
    font-size: 1.3rem;
}
p{
    font-size: 1.2rem;
}
@media screen and (width>= 600px) {
    h1{
        font-size: 2.4rem;
    }
    h2{
        font-size: 1.8rem;
    }
    h3{
        font-size: 1.6rem;
    }
    h4{
        font-size: 1.5rem;
    }
    p{
        font-size: 1.4rem;
    }
}
.notification{
    position: fixed;
    top: 12px;
    right: 12px;
    padding: .8rem 1.6rem;
    color: #fff;
    font-weight: 500;
    background: -webkit-linear-gradient(90deg, #0bfed7,#00d8f9,#32aaf0);
    background: linear-gradient(90deg, #0bfed7,#00d8f9,#32aaf0);                                            
}
 